<div class="footer" id="js-footer">
	<div class="container">
		<div class="footer__inner">

			<div class="footer__col">

				<nav class="menu-footer">
					<ul class="menu-footer__list">
						<li class="menu-footer__title js-menu-footer__title">Продукция</li>

						<li class="menu-footer__item">
							<a class="menu-footer__link" href="/catalog/vino/" title="Вино">Вино</a>
						</li>

						<li class="menu-footer__item">
							<a class="menu-footer__link" href="/catalog/shampanskoe-i-igristoe-vino/"
								title="Шампанское и игристое вино">Шампанское и игристое вино</a>
						</li>

						<li class="menu-footer__item">
							<a class="menu-footer__link" href="/catalog/krepkie-napitki/"
								title="Крепкие напитки">Крепкие напитки</a>
						</li>

						<li class="menu-footer__item">
							<a class="menu-footer__link" href="/catalog/vinnye-sety/" title="Винные сеты">Винные
								сеты</a>
						</li>

						<li class="menu-footer__item">
							<a class="menu-footer__link" href="/catalog/sigary/" title="Сигары">Сигары</a>
						</li>

						<li class="menu-footer__item">
							<a class="menu-footer__link" href="/catalog/sigarilly/" title="Сигариллы">Сигариллы</a>
						</li>

						<li class="menu-footer__item">
							<a class="menu-footer__link" href="/catalog/tabak/" title="Табак">Табак</a>
						</li>

						<li class="menu-footer__item">
							<a class="menu-footer__link" href="/catalog/soki/" title="Соки">Соки</a>
						</li>

						<li class="menu-footer__item">
							<a class="menu-footer__link" href="/catalog/mineralnaia-voda/"
								title="Минеральная вода">Минеральная вода</a>
						</li>

						<li class="menu-footer__item">
							<a class="menu-footer__link" href="/catalog/aksessuary/" title="Аксессуары">Аксессуары</a>
						</li>
					</ul>
				</nav>

			</div>

			<!-- end menu-content -->
			<!-- /.footer__col -->
			<div class="footer__col">
				<nav class="menu-footer">
					<ul class="menu-footer__list">
						<li class="menu-footer__title js-menu-footer__title">Информация</li>

						<li class="menu-footer__item">
							<a href="/delivery-and-payment/" title="Доставка и оплата"
								class="menu-footer__link">Доставка и оплата</a>
						</li>

						<li class="menu-footer__item">
							<a href="/guarantee/" title="Точки продаж" class="menu-footer__link">Точки продаж</a>
						</li>

						<li class="menu-footer__item">
							<a href="/services/" title="Условия хранения" class="menu-footer__link">Условия хранения</a>
						</li>

						<li class="menu-footer__item">
							<a href="/news/" title="Статьи" class="menu-footer__link">Статьи</a>
						</li>

					</ul>
				</nav>
			</div>
			<!-- /.footer__col -->
			<div class="footer__col">
				<div class="footer__text footer__text_first">Телефон горячей линии</div>
				<a href="tel:" class="footer__tel"></a>
				<a href="tel:78001234567" class="footer__tel">+7 800 123-45-67</a>

				<a href="" class="footer__call-phone-button js-viewForm" data-action="callback"><span>Заказать
						звонок</span></a>

				<a href="mailto:info@pey.ru" class="footer__email"><i>Email:</i>info@pey.ru</a>

			</div>
			<!-- /.footer__col -->
		</div>

		<div class="footer__row">
			<div class="footer__copyright">
				© 2020 - Маркетплейс алкогольной, безалкогольной и табачной продукции Pey.ru
				<div itemscope="" itemtype="https://schema.org/LocalBusiness" itemref="microdata-shop-reviews">
					<div class="hide">
						<a href="https://pey.ret-team.ru" itemprop="url"><span itemprop="name">Специализированный
								магазин Vestfrost</span></a>
						<img itemprop="logo"
							src="https://pey.ret-team.ru/mockup/templates/main/build/images/logo-new.svg"
							alt="Vestfrost">
						<img itemprop="image"
							src="https://pey.ret-team.ru/mockup/templates/main/build/images/logo-new.svg"
							alt="Vestfrost">
						<meta itemprop="legalName" content="ООО «НТК Трейд»">
						<div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
							<meta itemprop="streetAddress" content="проспект Маршала Жукова, дом 59">
							<meta itemprop="postalCode" content="123103">
							<meta itemprop="addressLocality" content="Москва">
						</div>
						<meta itemprop="PriceRange" content="590-1999990RUB">
						<meta itemprop="openingHours" content="Mo-Fr 08:00-22:00">
						<meta itemprop="openingHours" content="Sa-Su 09:00-22:00">
						<meta itemprop="telephone" content="">
						<meta itemprop="telephone" content="78001234567">
					</div>
				</div>

			</div>
			<a class="privacy-policy" title="Политика конфиденциальности" href="/personal-data/">Политика
				конфиденциальности</a>
			<div class="footer__telephones">
				<div class="l-abuse">
					<a href="" class="footer__button abuse__button js-viewForm" data-action="guideback">Пожаловаться
						руководству</a>
				</div>
			</div>
		</div>

		<!-- /.footer__row -->
	</div>

	<!-- /.footer__inner -->

</div>
