<div class="content-top lazyloaded" data-bg-custom="images/catalog.jpg" data-webp="images/catalog.jpg"
	style="background-image: url(&quot;images/catalog.jpg&quot;);">
	<div class="content-top__inner">
		<div class="container">
			<div class="breadcrumbs">
				<div itemscope="" itemtype="http://schema.org/BreadcrumbList">
					<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
						itemtype="http://schema.org/ListItem"><a href="/" title="Главная" itemprop="item"><span
								itemprop="name">Grohe</span></a>
						<meta itemprop="position" content="1">
					</div>
					<div class="breadcrumbs__sep">»</div>
					<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
						itemtype="http://schema.org/ListItem"><span itemprop="name">Смесители</span><a itemprop="item"
							href="/catalog/category/smesiteli/" title="Смесители"></a>
						<meta itemprop="position" content="2">
					</div>
				</div>
			</div>
			<div class="content-top__aside">
				<h1 class="page__title content-top__title content-top__title_top">Красные сухие вина</h1>
				<div class="page__title content-top__title content-top__title_bottom">Холодильники Либхер отличаются не только
					безупречным внешним видом, но и невероятными функциональными возможностями. Грамотное применение инновационных
					технологий позволяет значительно упростить эксплуатацию бытовой техники. В зависимости от модели они могут быть
					оборудованы функцией No Frost, то есть их не нужно размораживать. Автоматическая вентиляция проветривает
					внутреннее пространство холодильника, а система отвода конденсата препятствует накоплению инея.
				</div>
			</div>
		</div>
	</div>
</div>
