<div class="breadcrumbs">
	<a href="#" class="breadcrumbs__link">Главная </a>
	<span class="breadcrumbs__sep">/</span>
	<a href="#" class="breadcrumbs__link">Шампанское </a>
	<span class="breadcrumbs__sep">/</span>
	<span class="breadcrumbs__text">Шампанское Louis Roederer Brut Premier (graphic gift box)</span>
</div>
<h1 class="product-card__title">Шампанское Louis Roederer Brut Premier (graphic gift box)</h1>
<div class="product-card new-product-card">
	<div class="product-card__slider">
		<div class="product-card__brand">
			<img src="images/sp-logo.png" alt="">
		</div>
		<div class="swiper-container gallery-top">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/productCardGrohe.png"
						data-srcset='images/productCardGrohe.png 2x,images/productCardGrohe.png 3x'>
						<picture>

							<source type="image/webp" data-srcset="images/productCardGrohe.png, images/productCardGrohe.png 2x,
								images/productCardGrohe.png 3x" srcset="images/productCardGrohe.png,
								 images/productCardGrohe.png 2x, images/productCardGrohe.png 3x">
							<source type="image/jpg"
								data-srcset="images/productCardGrohe.png, images/productCardGrohe.png 2x,images/productCardGrohe.png 3x"
								srcset="images/productCardGrohe.png, images/productCardGrohe.png 2x,images/productCardGrohe.png 3x">

							<img data-src="images/productCardGrohe.png"
								title="Louis Roederer Brut Premier (graphic gift box) белое сухое 0,75 фото 1"
								alt="Louis Roederer Brut Premier (graphic gift box) белое сухое 0,75 preview 1"
								class="special-offers__img catalog__img lazyloaded" src="images/productCardGrohe.png">
						</picture>

					</a>
				</div>

			</div>
			<!-- Add Arrows -->
			<!-- <div class="swiper-button-next swiper-button-white"></div>
				<div class="swiper-button-prev swiper-button-white"></div> -->
		</div>
		<!-- <div class="swiper-container gallery-thumbs js-gallery-thumbs">
			<div class="thumbs-next"></div>
			<div class="thumbs-prev"></div>
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img data-src="images/productCardneffm-1.png"
						data-srcset="/upload/resize_cache/iblock/6f1/220_220_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/resize_cache/iblock/6f1/330_330_1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
						class="special-offers__img catalog__img lazyload" />
				</div>
				<div class="swiper-slide">
					<img data-src="images/productCardneffm-1.png"
						data-srcset="/upload/resize_cache/iblock/6f1/220_220_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/resize_cache/iblock/6f1/330_330_1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
						class="special-offers__img catalog__img lazyload" />
				</div>
				<div class="swiper-slide">
					<img data-src="images/productCardneffm-2.png"
						data-srcset="/upload/resize_cache/iblock/6f1/220_220_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/resize_cache/iblock/6f1/330_330_1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
						class="special-offers__img catalog__img lazyload" />
				</div>
				<div class="swiper-slide">
					<img data-src="images/productCardneffm-3.png"
						data-srcset="/upload/resize_cache/iblock/6f1/220_220_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/resize_cache/iblock/6f1/330_330_1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
						class="special-offers__img catalog__img lazyload" />
				</div>
				<div class="swiper-slide">
					<img data-src="images/productCardneffm-4.png"
						data-srcset="/upload/resize_cache/iblock/6f1/220_220_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/resize_cache/iblock/6f1/330_330_1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
						class="special-offers__img catalog__img lazyload" />
				</div>
				<div class="swiper-slide">
					<img data-src="images/productCardneffm-5.png"
						data-srcset="/upload/resize_cache/iblock/6f1/220_220_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/resize_cache/iblock/6f1/330_330_1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
						class="special-offers__img catalog__img lazyload" />
				</div>
				<div class="swiper-slide">
					<img src="images/all-video-(1).jpg" class="special-offers__img catalog__img">
				</div>

			</div>
		</div> -->
	</div>
	<div class="product-card__info">
		<div class="product__header product__header_top">
			<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star ratings__none"></div>
				<b class="ratings__number">4,5</b>
			</div>
			<a href="#reviews" data-scroll class="reviews__all">5 отзывов</a>
			<span class="product-card__key">Артикул: 327944</span>
			<div class="product-card__social">
				<!-- <a href="#" class="item js-share">
				<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
				<script src="//yastatic.net/share2/share.js"></script>
				<img src="images/share.svg" alt="">
				Поделиться
			</a> -->
				<div class="share__items">
					<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter">
					</div>
				</div>
				<a href="#" class="item favorite active">
					<p>
						Отложено
					</p>
				</a>
				<a href="#" class="item compare active">
					<p>
						В сравнении
					</p>
				</a>
			</div>
		</div>
		<div class="product__header product__header_middle">
			<span class="catalog__presence product-card__presence">в наличии</span>
			<span class="product-card__date">Обновление цен от 14 июля 2018</span>
		</div>
		<div class="product__header product__header_bottom">
			<span class="product-card__price price__dashed">4 800 <b>руб.</b>
				<span class="price__absolute">5 800 руб.
				</span>
			</span>
			<div class="product-card__button">
				<!-- <a href="#" class="product-card__icons">
					Купить в 1 клик
				</a> -->
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="product-card__buy js-product-card__buy">
					В магазин
				</a>
			</div>
		</div>
		<div class="product-card__type-payment type-payment">
			<div class="type-payment__item"
				data-text='Клиент оплачивает стоимость заказа на сайте до получения товара.'>
				<img src="images/Payment_cash.svg" alt="">
				<img src="images/Payment_cash — color.svg" alt="">
				Наличными
			</div>
			<!-- /.type-payment__item -->
			<div class="type-payment__item"
				data-text='Клиент оплачивает стоимость заказа на сайте до получения товара.'>
				<img src="images/Payment_credit.svg" alt="">
				<img src="images/Payment_credit — color.svg" alt="">
				Картой при получении
			</div>
			<!-- /.type-payment__item -->

			<div class="type-payment__item"
				data-text='Клиент оплачивает стоимость заказа на сайте до получения товара.'>
				<img src="images/Combined_Shape.svg" alt="">
				<img src="images/Combined_Shape — color.svg" alt="">
				Онлайн-оплата
			</div>
			<!-- /.type-payment__item -->
		</div>
		<div class="product-card__announcing">
			<div class="announcing__item">
				<img src="images/big/flag-france.svg" alt="Регион Шампань" title="Регион Шампан">
				<div class="announcing__info">
					Регион:
					<b>Шампань</b>
				</div>
			</div>
		</div>
		<div class="product-card__delivery delivery">
			<div class="delivery__info">
				Доставка в Нижний Новгород
				<a href="" class="delivery__link">
					после 30 октября
				</a>
				<!-- /.delivery__link -->
			</div>
			<!-- /.delivery__info -->
			<div class="delivery__info">
				Стоимость доставки
				<a href="" class="delivery__link">
					380 руб.
				</a>
				<!-- /.delivery__link -->
			</div>
			<!-- /.delivery__info -->
		</div>
		<div class="product-card__description text-default">
			<h2>Описание</h2>
			<p style="text-align: justify;">
				<b>Аромат:</b> фруктово-пряный, гармоничный, с тонами красных ягод, пряностей, ванили и нюансами
				шоколада
			</p>
			<p style="text-align: justify;">
				<b>Вкус:</b> обволакивающий, бархатистый, с тонами красных ягод, пряностей и нюансами ванили. Вино
				обладает длительным,
				фруктовым послевкусием
			</p>
			<!-- <a href="#new-description" data-scroll class="description__link">Читать полностью</a> -->
		</div>
		<div class="product-card__banner">
			<img src="images/promo-new.png" alt="">
			<div class="banner__info">
				<div class="banner__title">
					Остались вопросы?
				</div>
				<div class="banner__text">
				Поможем выбрать подходящий товар.
				</div>

				<div class="banner__link">
					<a href="#" data-url="ajax/callback.html" data-ajax=""
						class="banner__call-phone-button js-callback">
						Заказать звонок
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="product-card__middle">
		<div class="middle__header">
			<!-- <div class="product-card__back">
				<div class="catalog__link">
					<a href="#" data-url="ajax/ask-question.html" data-ajax="" class="catalog-question">
						Задать вопрос об этом товаре
					</a>
					<a href="#" class="catalog-back">Вернуться в каталог</a>
				</div>

			</div> -->

		</div>

		<div class="tabs">
			<a href="#" class="tabs__link">Характеристики</a>
			<div class="hide-tabs">
				<div class="tabs__title">
					<div class="characteristic__row">
						<span class="characteristic__name series">Производитель</span>
						<span class="characteristic__dashed"></span>
						<span class="characteristic__property">Louis Roederer</span>
					</div>
					<div class="characteristic__row">
						<span class="characteristic__name series">Потенциал хранения</span>
						<span class="characteristic__dashed"></span>
						<span class="characteristic__property">3-4 года</span>
					</div>
					<div class="characteristic__row">
						<span class="characteristic__name series">Объем</span>
						<span class="characteristic__dashed"></span>
						<span class="characteristic__property">0.75</span>
					</div>
				</div>
				<span class="characteristic__title js-characteristic__title">
					ОСНОВНЫЕ ХАРАКТЕРИСТИКИ
				</span>

				<div class="characteristic__row">
					<span class="characteristic__name">Крепость</span>
					<span class="characteristic__dashed"></span>
					<span class="characteristic__property">
						12%

					</span>
				</div>

				<div class="characteristic__row">
					<span class="characteristic__name">
						Апеооласьон
						<div class="characteristic-glossary js-characteristic-glossary">
							<div class="icon-gloss"></div>
							<div class="popup-gloss">

								<img class="characteristic-glossary__img loaded lazyloaded"
									data-src="https://l-rus.ru/upload/iblock/bdc/bdcbc10f8dd1d2c41e5a6a39130aa856.jpg"
									alt="BluPerformance"
									src="https://l-rus.ru/upload/iblock/bdc/bdcbc10f8dd1d2c41e5a6a39130aa856.jpg"
									data-was-processed="true">

								<div class="characteristic-glossary__title">BluPerformance</div>

								<div class="characteristic-glossary__text">У новой модельной линейки серии
									BluPerformance система
									охлаждения компактно интегрирована в&nbsp;корпус прибора. Благодаря отсутствию
									конденсатора
									на&nbsp;задней стенке и лотка для талой воды заметно увеличился полезный объем.
									Приборы серии
									BluPerformance очень экономичны за счет...</div>

								<a href="/glossary/" class="characteristic-glossary__link" target="blank">Перейти в
									глоссарий
								</a>
								<div class="button-close"></div>
							</div>
						</div>
					</span>
					<span class="characteristic__dashed"></span>
					<span class="characteristic__property">
						Champagne AOC

					</span>
				</div>

				<div class="characteristic__row">
					<span class="characteristic__name">Категория</span>
					<span class="characteristic__dashed"></span>
					<span class="characteristic__property">
						Appellation d'Origine Controlee (AOC)

					</span>
				</div>

				<div class="characteristic__row">
					<span class="characteristic__name">
						Декантация
						<div class="characteristic-glossary js-characteristic-glossary">
							<div class="icon-gloss"></div>
							<div class="popup-gloss">

								<img class="characteristic-glossary__img loaded lazyloaded"
									data-src="https://l-rus.ru/upload/iblock/bdc/bdcbc10f8dd1d2c41e5a6a39130aa856.jpg"
									alt="BluPerformance"
									src="https://l-rus.ru/upload/iblock/bdc/bdcbc10f8dd1d2c41e5a6a39130aa856.jpg"
									data-was-processed="true">

								<div class="characteristic-glossary__title">BluPerformance</div>

								<div class="characteristic-glossary__text">У новой модельной линейки серии
									BluPerformance система
									охлаждения компактно интегрирована в&nbsp;корпус прибора. Благодаря отсутствию
									конденсатора
									на&nbsp;задней стенке и лотка для талой воды заметно увеличился полезный объем.
									Приборы серии
									BluPerformance очень экономичны за счет...</div>

								<a href="/glossary/" class="characteristic-glossary__link" target="blank">Перейти в
									глоссарий
								</a>
								<div class="button-close"></div>
							</div>
						</div>
					</span>
					<span class="characteristic__dashed"></span>
					<span class="characteristic__property">
						не рекомендуется

					</span>
				</div>
				<div class="characteristic__row">
					<span class="characteristic__name">
						Хранение
					</span>
					<span class="characteristic__dashed"></span>
					<span class="characteristic__property">
						Бочка
					</span>
				</div>
				<span class="characteristic__title js-characteristic__title">
					О бренде:
				</span>
				<div class="characteristic__row characteristic__about">
					<div class="characteristic__pic">
						<img src="images/characteristic__pic.png" alt="">
					</div>
					<p>
						История компании Felix Solis началась в 1950-х, когда основатель компании Феликс Солис Фернандес
						переехал в испанский
						винодельческий регион Вальдепеньяс (Valdepenas DO) и приобрел там маленькую винодельню. С самого
						начала хозяйство было
						семейным предприятием, сыновья Феликса принимали активное участие в развитии отцовского дела.
						Сегодня компании
						принадлежит 500 га виноградников, расположенных в провинции Ла Манча де Сьюдад Реал на высоте
						750 м
						над уровнем моря.
						На долю Felix Solis приходится более 80% вин, экспортируемых из Вальдепеньяса.
					</p>

				</div>
			</div>
			<span class="characteristic__copyright">
				Шампанское белое брют Брют Премье п/у графика Франция Сорта винограда: шардоне 40%, пино нуар 40%, пино
				менье 20%.
				Изготовитель: Шампань Луи Родерер (Champagne Louis Roederer), 21 Boulevard Lundy 51100 Reims (21 Бульвар
				Лунди 51100
				Реймс), Франция. Соответствует ГОСТ Р 51165-2009 п.п.5.1.3. (в части массовой концентрации общего
				диоксида серы и
				давления двуокиси углерода в бут.), 5.1.4, 5.4.; ГОСТ Р 51074-2003 разд. 3, п. 4.17. Алк. 12% об. Объем
				0.75л. Срок
				годности не ограничен при соблюдении условий хранения. Пищевая / энергетическая ценность на 100г: белки
				0.2г,
				углеводы 1.5г / 74 Ккал / 310 кДж.
			</span>

			<div class="reviews" id="reviews">
				<h2 class="reviews__title">Отзывы на Шампанское Louis Roederer Brut Premier (graphic gift box)
				</h2>
				<div class="reviews__top">
					<a href="#" data-url="ajax/reviews.html" data-ajax="" class="reviews__link">оставить
						отзыв</a>
					<div class="reviews__section">
						<div class="ratings">
							<div class="ratings__star"></div>
							<div class="ratings__star"></div>
							<div class="ratings__star"></div>
							<div class="ratings__star"></div>
							<div class="ratings__star ratings__none"></div>
							<b class="ratings__number">4,5</b>
						</div>
						<a href="#" class="reviews__all">5 отзывов</a>
					</div>

					<a href="#" class="reviews__main-link">Посмотреть все отзывы</a>
				</div>
				<div class="reviews-list">
					<div class="reviews-list__item" itemscope="" itemtype="">
						<div class="reviews-list__field reviews-list__field_header">
							<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
								<strong itemprop="name">Ирина</strong>
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star ratings__none"></div>
								</div>
							</div>
							<div class="reviews-list__col reviews-list__col_date">
								<meta itemprop="datePublished" content="2018-08-30">28 января 2018
							</div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Достоинства:
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								Компактный, можно поставить/встроить под столешницу, приятная цена.
								Морозит
								хорошо, нешумный.
							</div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Недостатки:
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								Пока довольны всем. Не рада за лампочку освещения, она вроде
								обычная,
								наверное перегорит быстро, хотя с нашим непостоянным использованием.
							</div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Комментарий:
							</div>
							<div class="reviews-list__col reviews-list__col_desc" itemprop="reviewBody">
								Покупали специально на дачу - маленький, но все необходимые продукты
								и
								небольшие кастрюли вмещаются. Морозит хорошо, достаточно тихий. Да,
								небольшая морозилка, но такой холодильничек и не для заморозки
								контейнеров
								ягод на зиму.</div>
						</div>
						<!-- /.reviews-list__field -->
						<meta itemprop="itemReviewed" content="Siemens WD15H541OE">
					</div>
					<div class="reviews-list__item" itemscope="" itemtype="">
						<div class="reviews-list__field reviews-list__field_header">
							<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
								<strong itemprop="name">Ирина</strong>
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star ratings__none"></div>
								</div>
							</div>
							<div class="reviews-list__col reviews-list__col_date">
								<meta itemprop="datePublished" content="2018-08-30">28 января 2018
							</div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Достоинства:
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								Компактный, можно поставить/встроить под столешницу, приятная цена.
								Морозит
								хорошо, нешумный.
							</div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Недостатки:
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								Пока довольны всем. Не рада за лампочку освещения, она вроде
								обычная,
								наверное перегорит быстро, хотя с нашим непостоянным использованием.
							</div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Комментарий:
							</div>
							<div class="reviews-list__col reviews-list__col_desc" itemprop="reviewBody">
								Покупали специально на дачу - маленький, но все необходимые продукты
								и
								небольшие кастрюли вмещаются. Морозит хорошо, достаточно тихий. Да,
								небольшая морозилка, но такой холодильничек и не для заморозки
								контейнеров
								ягод на зиму.</div>
						</div>
						<!-- /.reviews-list__field -->
						<meta itemprop="itemReviewed" content="Siemens WD15H541OE">
					</div>
					<div class="reviews-list__item" itemscope="" itemtype="">
						<div class="reviews-list__field reviews-list__field_header">
							<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
								<strong itemprop="name">Ирина</strong>
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star ratings__none"></div>
								</div>
							</div>
							<div class="reviews-list__col reviews-list__col_date">
								<meta itemprop="datePublished" content="2018-08-30">28 января 2018
							</div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Достоинства:
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								Компактный, можно поставить/встроить под столешницу, приятная цена.
								Морозит
								хорошо, нешумный.
							</div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Недостатки:
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								Пока довольны всем. Не рада за лампочку освещения, она вроде
								обычная,
								наверное перегорит быстро, хотя с нашим непостоянным использованием.
							</div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Комментарий:
							</div>
							<div class="reviews-list__col reviews-list__col_desc" itemprop="reviewBody">
								Покупали специально на дачу - маленький, но все необходимые продукты
								и
								небольшие кастрюли вмещаются. Морозит хорошо, достаточно тихий. Да,
								небольшая морозилка, но такой холодильничек и не для заморозки
								контейнеров
								ягод на зиму.</div>
						</div>
						<!-- /.reviews-list__field -->
						<meta itemprop="itemReviewed" content="Siemens WD15H541OE">
					</div>
				</div>
			</div>
		</div>
		<div class="sidebar-right">

			<div class="articles swiper-container js-sidebar-articles">
				<span class="articles__title">Может быть полезно</span>
				<a href="#" class="articles__link">Посмотреть все статьи</a>
				<div class="articles__items swiper-wrapper">
					<div class="articles__item swiper-slide">
						<a class="articles__pic" href="#">
							<img src="images/articles_1.jpg"
								srcset="images/articles_1@2x.jpg 2x,images/articles_1@3x.jpg 3x" class="articles__img">
						</a>
						<a href="#" class="articles__text">Как правильно разморозить холодильник
							Либхер</a>
						<span class="articles__date">25 марта 2018</span>
					</div>
					<div class="articles__item swiper-slide">
						<a class="articles__pic" href="#">
							<img src="images/articles_1.jpg"
								srcset="images/articles_1@2x.jpg 2x,images/articles_1@3x.jpg 3x" class="articles__img">
						</a>
						<a href="#" class="articles__text">Как правильно разморозить холодильник
							Либхер</a>
						<span class="articles__date">25 марта 2018</span>
					</div>
					<div class="articles__item swiper-slide">
						<a class="articles__pic" href="#">
							<img src="images/articles_1.jpg"
								srcset="images/articles_1@2x.jpg 2x,images/articles_1@3x.jpg 3x" class="articles__img">
						</a>
						<a href="#" class="articles__text">Как правильно разморозить холодильник
							Либхер</a>
						<span class="articles__date">25 марта 2018</span>
					</div>
					<!-- <div class="articles__item swiper-slide">
						<a class="articles__pic" href="#">
							<img src="images/articles_2.jpg"
								srcset="images/articles_2@2x.jpg 2x,images/articles_2@3x.jpg 3x" class="articles__img">
						</a>
						<a href="#" class="articles__text">Преимущества встраиваемых микроволновых
							печей Grohe</a>
						<span class="articles__date">25 марта 2018</span>
					</div>
					<div class="articles__item swiper-slide">
						<a class="articles__pic" href="#">
							<img src="images/articles_3.jpg"
								srcset="images/articles_3@2x.jpg 2x,images/articles_3@3x.jpg 3x" class="articles__img">
						</a>
						<a href="#" class="articles__text">Сравнение холодильника Grohe CNbs 4015
							Comfort NoFrost и Grohe CN 4813
						</a>
						<span class="articles__date">25 марта 2018</span>
					</div> -->
				</div>
				<div class="swiper-pagination-articles articles__pagination"></div>
				<div class="swiper-button-prev articles__prev"></div>
				<div class="swiper-button-next articles__next"></div>
			</div>

		</div>
	</div>
	<div class="recently-watched js-recently-watched">
		<div class="recently-watched__title">
			Вы недавно смотрели
		</div>
		<div class="swiper-pagination-recently-watched swiper-pagination"></div>
		<div class="swiper-button-prev recently-watched__prev"></div>
		<div class="swiper-button-next recently-watched__next"></div>
		<a href="#" class="recently-watched__reset">Сбросить просмотренное</a>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/recently-watched.png" alt="">
					</a>
					<a href='#' class="recently-watched__text">
						Винный шкаф Grohe EWTgw
						3583 Vinidor
						<span class="recently-watched__price">134 200
							<i class="recently-watched__rub">руб.</i>
						</span>
					</a>

					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/recently-watched-2.png" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Холодильник Grohe CBNPbs 4858 Premium BioFresh NoFrost
						<span class="recently-watched__price">
							34 200
							<i class="recently-watched__rub">руб.</i>
						</span>
					</a>
					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/recently-watched-3.png" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Морозильник Grohe GN 2723
						Comfort NoFrost
						<span class="recently-watched__price">
							14 200
							<i class="recently-watched__rub">руб.</i>
						</span>
					</a>
					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/recently-watched-2.png" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Холодильник Grohe CBNPbs 4858 Premium BioFresh NoFrost
						<span class="recently-watched__price">
							13 200
							<i class="recently-watched__rub">руб.</i>
						</span>
					</a>
					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/recently-watched.png" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Винный шкаф Grohe EWTgw
						3583 Vinidor
						<span class="recently-watched__price">
							1 200
							<i class="recently-watched__rub">руб.</i>
						</span>
					</a>
					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/recently-watched.png" alt="">
					</a>
					<a href='#' class="recently-watched__text">
						Винный шкаф Grohe EWTgw
						3583 Vinidor
						<span class="recently-watched__price">134 200
							<i class="recently-watched__rub">руб.</i>
						</span>
					</a>

					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/recently-watched-2.png" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Холодильник Grohe CBNPbs 4858 Premium BioFresh NoFrost
						<span class="recently-watched__price">
							34 200
							<i class="recently-watched__rub">руб.</i>
						</span>
					</a>
					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/recently-watched-3.png" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Морозильник Grohe GN 2723
						Comfort NoFrost
						<span class="recently-watched__price">
							14 200
							<i class="recently-watched__rub">руб.</i>
						</span>
					</a>
					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/recently-watched-2.png" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Холодильник Grohe CBNPbs 4858 Premium BioFresh NoFrost
						<span class="recently-watched__price">
							13 200
							<i class="recently-watched__rub">руб.</i>
						</span>
					</a>
					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/recently-watched.png" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Винный шкаф Grohe EWTgw
						3583 Vinidor
						<span class="recently-watched__price">
							1 200
							<i class="recently-watched__rub">руб.</i>
						</span>
					</a>
					<div class="recently-watched__close"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="newsletter">
		<div class="newsletter__pic">
			<img src="images/newsletter.png" alt="">
		</div>
		<!-- /.newsletter__pic -->
		<div class="newsletter__items">
			<div class="newsletter__title">
				Мы помним, что вас интересовало, получите выгодное предложение!
			</div>
			<!-- /.newsletter__title -->
			<div class="newsletter__subtitle">
				Подпишитесь, чтобы первыми узнавать о новостях, акциях и выгодных предложениях
			</div>
			<!-- /.newsletter__subtitle -->
			<div class="newsletter__form">
				<form class="newslette__form js-form" action="" method="post">
					<strong class="abuse-popup__name newslette__name">Ваше имя:
						<span class="abuse-popup__req newslette__req">*</span>
					</strong>
					<input type="text" name="F[NAME]" value="" placeholder="Ваше имя">

					<strong class="abuse-popup__name newslette__name">Ваше телефон:
						<span class="abuse-popup__req newslette__req">*</span>
					</strong>
					<input type="text" name="" value="" class="return-exchange__input" placeholder="Email *"
						title="E-mail" required="">
					<input type="submit" value="Подписаться" class="btn-sub3 abuse-popup__submit js-go">
					<div class="abuse-popup__item">
						<label class="checkbox checkbox_oferta js-checkbox">
							<input class="checkbox__input js-check" type="checkbox" checked="checked">
							<span class="checkbox__icon js-check_icon"></span>
							<span class="checkbox__text">Согласен с <a target="_blank"
									href="/personal-data/">использованием персональных данных</a> для обработки
								обращения</span>
						</label>

						<input type="hidden" name="F[PAGE]" class="js-form_page noCheck"
							value="https://gr-russia.ru/catalog/termostaty/termostat-dlya-vanny-grohe-grandera-19934ig0-verkhnyaya-montazhnaya-chast.html">
						<input type="hidden" name="action" value="callbackAdd">

					</div>
				</form>
			</div>
			<!-- /.newsletter__form -->
		</div>
		<!-- /.newsletter__items -->
	</div>
	<!-- /.newsletter -->
</div>
