<div class="menu" aria-expanded="false">
	<div class="city-change js-city-change ">
		<div class="city-change__title">Санкт-Петербург</div>
		<div class="city-change__bullet"></div>
		<div class="city-change__popup">
			<a class="city-change__link js-city_change" data-code="MSK"
				href="https://pey.ret-team.ru/?K_REGION=MSK">Москва</a>
			<a class="city-change__link js-city_change" data-code="SPB"
				href="https://pey.ret-team.ru/?K_REGION=SPB">Санкт-Петербург</a>
			<a class="city-change__link js-city_change" data-code="REGIONS"
				href="https://pey.ret-team.ru/?K_REGION=REGIONS">Регионы</a>
		</div>
	</div>

	<ul class="menu__list">

		<li class="menu__item">
			<a href="/delivery-and-payment/" title="Доставка и оплата" class="menu__link">Доставка и оплата</a>
		</li>

		<li class="menu__item">
			<a href="/services/" title="Точки продаж" class="menu__link">Точки продаж</a>
		</li>

		<li class="menu__item">
			<a href="/guarantee/" title="Условия хранения" class="menu__link">Условия хранения</a>
		</li>

		<li class="menu__item">
			<a href="/news/" title="Статьи" class="menu__link">Статьи</a>
		</li>

		<!-- <li class="menu__item">
			<a href="/contacts/" title="Контакты" class="menu__link">Контакты</a>
		</li> -->

	</ul>

	<a href="" class="abuse__button js-abuse__button js-viewForm" data-action="guideback"
		id="js-abuse-opener">Обратиться к руководству</a>

</div>
<!--end menu-->
