<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Example</title>
	<script src="js/mobile.js"></script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="HandheldFriendly" content="True">
	<meta name="format-detection" content="telephone=yes">
	<meta name="MobileOptimized" content="320">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> -->

	<link rel="icon" type="image/png" href="images/Icon-16.png">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&amp;subset=cyrillic&display=swap"
		rel="stylesheet">

	<link rel="icon" href="images/favicon.png" type="image/png">
	<link href="https://l-rus.ru/local/templates/lb_main/components/bitrix/catalog.smart.filter/.default/style.min.css"
		type="text/css" rel="stylesheet">
	<link
		href="https://l-rus.ru/bitrix/cache/css/s2/lb_main/template_ff45b2fdaec1a1ae20b5d9c7736a9454/template_ff45b2fdaec1a1ae20b5d9c7736a9454_v1.css?1578292899590031"
		type="text/css" data-template-style="true" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

	<div class="wrapper" id="js-wrapper">

		{% include 'header/global/header.html' %}

		<div class="section">
			{% include 'section/content-top/content-top.html' %}
			<div class="content">
				<div class="container">
					<div class="col-md-3">
						<div class="filter__date">Обновление цен от 6 января 2020</div>
						<div class="bx-filter filter-new bx-blue ">
							<div class="bx-filter-section container-fluid">

								<form name="_form" action="/liebherr/holodilniki/" method="get" class="smartfilter">
									<input type="hidden" name="IBLOCK_CODE" id="IBLOCK_CODE" value="holodilniki">
									<div class="row">
										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)">
												<span>Цена, руб.
													<i data-role="prop_angle" class="fa fa-angle-down"></i>
												</span>
											</div>
											<div class="bx-filter-block" data-role="bx_filter_block" style="">
												<div class="row bx-filter-parameters-box-container">
													<div
														class="col-xs-6 bx-filter-parameters-box-container-block bx-left">
														<i class="bx-ft-sub">От</i>
														<div class="bx-filter-input-container">
															<input class="min-price" type="text"
																name="arrFilter2_P1_MIN" id="arrFilter2_P1_MIN" value=""
																size="5" onkeyup="smartFilter.keyup(this)">
														</div>
													</div>
													<div
														class="col-xs-6 bx-filter-parameters-box-container-block bx-right">
														<i class="bx-ft-sub">До</i>
														<div class="bx-filter-input-container">
															<input class="max-price" type="text"
																name="arrFilter2_P1_MAX" id="arrFilter2_P1_MAX" value=""
																size="5" onkeyup="smartFilter.keyup(this)">
														</div>
													</div>

													<div class="col-xs-10 col-xs-offset-1 bx-ui-slider-track-container">
														<div class="bx-ui-slider-track"
															id="drag_track_c4ca4238a0b923820dcc509a6f75849b">
															<div class="bx-ui-slider-part p1">
																<span>0</span>
															</div>
															<div class="bx-ui-slider-part p2">
																<span>85 497.50</span>
															</div>
															<div class="bx-ui-slider-part p3">
																<span>170 995</span>
															</div>
															<div class="bx-ui-slider-part p4">
																<span>256 492.50</span>
															</div>
															<div class="bx-ui-slider-part p5">
																<span>341 990</span>
															</div>

															<div class="bx-ui-slider-pricebar-vd"
																style="left: 0;right: 0;"
																id="colorUnavailableActive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-pricebar-vn"
																style="left: 0%; right: 0%;"
																id="colorAvailableInactive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-pricebar-v"
																style="left: 0%; right: 0%;"
																id="colorAvailableActive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-range"
																id="drag_tracker_c4ca4238a0b923820dcc509a6f75849b"
																style="left: 0%; right: 0%;">
																<a class="bx-ui-slider-handle left" style="left:0;"
																	href="javascript:void(0)"
																	id="left_slider_c4ca4238a0b923820dcc509a6f75849b"></a>
																<a class="bx-ui-slider-handle right" style="right:0;"
																	href="javascript:void(0)"
																	id="right_slider_c4ca4238a0b923820dcc509a6f75849b"></a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)">
												<span class="bx-filter-parameters-box-hint">
													Подборки
												</span>
											</div>

											<div class="bx-filter-block" data-role="bx_filter_block" style="">
												<div class="row bx-filter-parameters-box-container">
													<div class="col-xs-12">

														<div class="filter__checkbox">
															<a href="/liebherr/holodilniki/type-nov/"
																class="filter-collections ">Новинки</a>
															<a href="/liebherr/holodilniki/type-hit/"
																class="filter-collections ">Лучшие</a>
															<a href="/liebherr/holodilniki/type-akcii/"
																class="filter-collections ">Акции</a>
														</div>

													</div>
												</div>
												<div style="clear: both"></div>
											</div>
										</div>

										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)">
												<span class="bx-filter-parameters-box-hint">Цвет
													<i data-role="prop_angle" class="fa fa-angle-down"></i>
												</span>
											</div>

											<div class="bx-filter-block" data-role="bx_filter_block" style="">
												<div class="row bx-filter-parameters-box-container more">
													<div class="col-xs-12"><span class="more-text js-more-text">Показать
															еще</span>
														<div class="checkbox">
															<label data-role="label_arrFilter2_5395_1738692762"
																class="bx-filter-param-label "
																for="arrFilter2_5395_1738692762">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_5395_1738692762"
																		id="arrFilter2_5395_1738692762"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="бежевый">бежевый&nbsp;
																		<span
																			data-role="count_arrFilter2_5395_1738692762">8</span></span>
																</span>
															</label>

														</div>
														<div class="checkbox">
															<label data-role="label_arrFilter2_5395_841265288"
																class="bx-filter-param-label "
																for="arrFilter2_5395_841265288">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_5395_841265288"
																		id="arrFilter2_5395_841265288"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="белый">белый&nbsp;
																		<span
																			data-role="count_arrFilter2_5395_841265288">184</span></span>
																</span>
															</label>

														</div>
														<div class="checkbox">
															<label data-role="label_arrFilter2_5395_3303624126"
																class="bx-filter-param-label "
																for="arrFilter2_5395_3303624126">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_5395_3303624126"
																		id="arrFilter2_5395_3303624126"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="бронза">бронза&nbsp;
																		<span
																			data-role="count_arrFilter2_5395_3303624126">1</span></span>
																</span>
															</label>

														</div>
														<div class="checkbox js-autoHeight" style="display: none;">
															<label data-role="label_arrFilter2_5395_3466168685"
																class="bx-filter-param-label "
																for="arrFilter2_5395_3466168685">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_5395_3466168685"
																		id="arrFilter2_5395_3466168685"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="зеленый">зеленый&nbsp;
																		<span
																			data-role="count_arrFilter2_5395_3466168685">3</span></span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_5395_3761914965"
																class="bx-filter-param-label "
																for="arrFilter2_5395_3761914965">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_5395_3761914965"
																		id="arrFilter2_5395_3761914965"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="красный">красный&nbsp;
																		<span
																			data-role="count_arrFilter2_5395_3761914965">1</span></span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_5395_2871910706"
																class="bx-filter-param-label "
																for="arrFilter2_5395_2871910706">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_5395_2871910706"
																		id="arrFilter2_5395_2871910706"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="нержавеющая сталь">нержавеющая
																		сталь&nbsp;
																		<span
																			data-role="count_arrFilter2_5395_2871910706">47</span></span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_5395_2149217693"
																class="bx-filter-param-label "
																for="arrFilter2_5395_2149217693">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_5395_2149217693"
																		id="arrFilter2_5395_2149217693"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="оранжевый">оранжевый&nbsp;
																		<span
																			data-role="count_arrFilter2_5395_2149217693">2</span></span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_5395_2077249293"
																class="bx-filter-param-label "
																for="arrFilter2_5395_2077249293">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_5395_2077249293"
																		id="arrFilter2_5395_2077249293"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="разноцветный">разноцветный&nbsp;
																		<span
																			data-role="count_arrFilter2_5395_2077249293">1</span></span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_5395_1239821711"
																class="bx-filter-param-label "
																for="arrFilter2_5395_1239821711">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_5395_1239821711"
																		id="arrFilter2_5395_1239821711"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="серебристый">серебристый&nbsp;
																		<span
																			data-role="count_arrFilter2_5395_1239821711">94</span></span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_5395_965531904"
																class="bx-filter-param-label "
																for="arrFilter2_5395_965531904">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_5395_965531904"
																		id="arrFilter2_5395_965531904"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="синий">синий&nbsp;
																		<span
																			data-role="count_arrFilter2_5395_965531904">3</span></span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_5395_3693793700"
																class="bx-filter-param-label "
																for="arrFilter2_5395_3693793700">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_5395_3693793700"
																		id="arrFilter2_5395_3693793700"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="черный">черный&nbsp;
																		<span
																			data-role="count_arrFilter2_5395_3693793700">23</span></span>
																</span>
															</label>

														</div>
													</div>
												</div>
												<div style="clear: both"></div>
											</div>
										</div>
										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)">
												<span>Цена, руб.
													<i data-role="prop_angle" class="fa fa-angle-down"></i>
												</span>
											</div>
											<div class="bx-filter-block" data-role="bx_filter_block" style="">
												<div class="row bx-filter-parameters-box-container">
													<div
														class="col-xs-6 bx-filter-parameters-box-container-block bx-left">
														<i class="bx-ft-sub">От</i>
														<div class="bx-filter-input-container">
															<input class="min-price" type="text"
																name="arrFilter2_P1_MIN" id="arrFilter2_P1_MIN" value=""
																size="5" onkeyup="smartFilter.keyup(this)">
														</div>
													</div>
													<div
														class="col-xs-6 bx-filter-parameters-box-container-block bx-right">
														<i class="bx-ft-sub">До</i>
														<div class="bx-filter-input-container">
															<input class="max-price" type="text"
																name="arrFilter2_P1_MAX" id="arrFilter2_P1_MAX" value=""
																size="5" onkeyup="smartFilter.keyup(this)">
														</div>
													</div>

													<div class="col-xs-10 col-xs-offset-1 bx-ui-slider-track-container">
														<div class="bx-ui-slider-track"
															id="drag_track_c4ca4238a0b923820dcc509a6f75849b">
															<div class="bx-ui-slider-part p1">
																<span>0</span>
															</div>
															<div class="bx-ui-slider-part p2">
																<span>85 497.50</span>
															</div>
															<div class="bx-ui-slider-part p3">
																<span>170 995</span>
															</div>
															<div class="bx-ui-slider-part p4">
																<span>256 492.50</span>
															</div>
															<div class="bx-ui-slider-part p5">
																<span>341 990</span>
															</div>

															<div class="bx-ui-slider-pricebar-vd"
																style="left: 0;right: 0;"
																id="colorUnavailableActive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-pricebar-vn"
																style="left: 0%; right: 0%;"
																id="colorAvailableInactive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-pricebar-v"
																style="left: 0%; right: 0%;"
																id="colorAvailableActive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-range"
																id="drag_tracker_c4ca4238a0b923820dcc509a6f75849b"
																style="left: 0%; right: 0%;">
																<a class="bx-ui-slider-handle left" style="left:0;"
																	href="javascript:void(0)"
																	id="left_slider_c4ca4238a0b923820dcc509a6f75849b"></a>
																<a class="bx-ui-slider-handle right" style="right:0;"
																	href="javascript:void(0)"
																	id="right_slider_c4ca4238a0b923820dcc509a6f75849b"></a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)">
												<span class="bx-filter-parameters-box-hint">Тип
													<i data-role="prop_angle" class="fa fa-angle-down"></i>
												</span>
											</div>

											<div class="bx-filter-block" data-role="bx_filter_block" style="">
												<div class="row bx-filter-parameters-box-container more">
													<div class="col-xs-12"><span class="more-text js-more-text">Показать
															еще</span>
														<div class="checkbox">
															<label data-role="label_arrFilter2_1538_532509844"
																class="bx-filter-param-label "
																for="arrFilter2_1538_532509844">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_1538_532509844"
																		id="arrFilter2_1538_532509844"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="морозильник-шкаф">морозильник-шкаф&nbsp;
																		<span
																			data-role="count_arrFilter2_1538_532509844">46</span></span>
																</span>
															</label>

														</div>
														<div class="checkbox">
															<label data-role="label_arrFilter2_1538_3059817806"
																class="bx-filter-param-label "
																for="arrFilter2_1538_3059817806">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_1538_3059817806"
																		id="arrFilter2_1538_3059817806"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="морозильник-ларь">морозильник-ларь&nbsp;
																		<span
																			data-role="count_arrFilter2_1538_3059817806">29</span></span>
																</span>
															</label>

														</div>
														<div class="checkbox">
															<label data-role="label_arrFilter2_1538_3244699096"
																class="bx-filter-param-label "
																for="arrFilter2_1538_3244699096">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_1538_3244699096"
																		id="arrFilter2_1538_3244699096"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="холодильник без морозильника">холодильник
																		без
																		морозильника&nbsp;
																		<span
																			data-role="count_arrFilter2_1538_3244699096">38</span></span>
																</span>
															</label>

														</div>
														<div class="checkbox js-autoHeight" style="display: none;">
															<label data-role="label_arrFilter2_1538_1483701346"
																class="bx-filter-param-label "
																for="arrFilter2_1538_1483701346">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_1538_1483701346"
																		id="arrFilter2_1538_1483701346"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="холодильник с винным шкафом">холодильник
																		с винным
																		шкафом&nbsp;
																		<span
																			data-role="count_arrFilter2_1538_1483701346">2</span></span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_1538_795364596"
																class="bx-filter-param-label "
																for="arrFilter2_1538_795364596">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_1538_795364596"
																		id="arrFilter2_1538_795364596"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="холодильник с морозильником">холодильник
																		с
																		морозильником&nbsp;
																		<span
																			data-role="count_arrFilter2_1538_795364596">251</span></span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_1538_2970409303"
																class="bx-filter-param-label "
																for="arrFilter2_1538_2970409303">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_1538_2970409303"
																		id="arrFilter2_1538_2970409303"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="морозильник с винным шкафом">морозильник
																		с винным
																		шкафом&nbsp;
																		<span
																			data-role="count_arrFilter2_1538_2970409303">1</span></span>
																</span>
															</label>

														</div>
													</div>
												</div>
												<div style="clear: both"></div>
											</div>
										</div>

										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)">
												<span>Цена, руб.
													<i data-role="prop_angle" class="fa fa-angle-down"></i>
												</span>
											</div>
											<div class="bx-filter-block" data-role="bx_filter_block" style="">
												<div class="row bx-filter-parameters-box-container">
													<div
														class="col-xs-6 bx-filter-parameters-box-container-block bx-left">
														<i class="bx-ft-sub">От</i>
														<div class="bx-filter-input-container">
															<input class="min-price" type="text"
																name="arrFilter2_P1_MIN" id="arrFilter2_P1_MIN" value=""
																size="5" onkeyup="smartFilter.keyup(this)">
														</div>
													</div>
													<div
														class="col-xs-6 bx-filter-parameters-box-container-block bx-right">
														<i class="bx-ft-sub">До</i>
														<div class="bx-filter-input-container">
															<input class="max-price" type="text"
																name="arrFilter2_P1_MAX" id="arrFilter2_P1_MAX" value=""
																size="5" onkeyup="smartFilter.keyup(this)">
														</div>
													</div>

													<div class="col-xs-10 col-xs-offset-1 bx-ui-slider-track-container">
														<div class="bx-ui-slider-track"
															id="drag_track_c4ca4238a0b923820dcc509a6f75849b">
															<div class="bx-ui-slider-part p1">
																<span>0</span>
															</div>
															<div class="bx-ui-slider-part p2">
																<span>85 497.50</span>
															</div>
															<div class="bx-ui-slider-part p3">
																<span>170 995</span>
															</div>
															<div class="bx-ui-slider-part p4">
																<span>256 492.50</span>
															</div>
															<div class="bx-ui-slider-part p5">
																<span>341 990</span>
															</div>

															<div class="bx-ui-slider-pricebar-vd"
																style="left: 0;right: 0;"
																id="colorUnavailableActive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-pricebar-vn"
																style="left: 0%; right: 0%;"
																id="colorAvailableInactive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-pricebar-v"
																style="left: 0%; right: 0%;"
																id="colorAvailableActive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-range"
																id="drag_tracker_c4ca4238a0b923820dcc509a6f75849b"
																style="left: 0%; right: 0%;">
																<a class="bx-ui-slider-handle left" style="left:0;"
																	href="javascript:void(0)"
																	id="left_slider_c4ca4238a0b923820dcc509a6f75849b"></a>
																<a class="bx-ui-slider-handle right" style="right:0;"
																	href="javascript:void(0)"
																	id="right_slider_c4ca4238a0b923820dcc509a6f75849b"></a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)">
												<span>Цена, руб.
													<i data-role="prop_angle" class="fa fa-angle-down"></i>
												</span>
											</div>
											<div class="bx-filter-block" data-role="bx_filter_block" style="">
												<div class="row bx-filter-parameters-box-container">
													<div
														class="col-xs-6 bx-filter-parameters-box-container-block bx-left">
														<i class="bx-ft-sub">От</i>
														<div class="bx-filter-input-container">
															<input class="min-price" type="text"
																name="arrFilter2_P1_MIN" id="arrFilter2_P1_MIN" value=""
																size="5" onkeyup="smartFilter.keyup(this)">
														</div>
													</div>
													<div
														class="col-xs-6 bx-filter-parameters-box-container-block bx-right">
														<i class="bx-ft-sub">До</i>
														<div class="bx-filter-input-container">
															<input class="max-price" type="text"
																name="arrFilter2_P1_MAX" id="arrFilter2_P1_MAX" value=""
																size="5" onkeyup="smartFilter.keyup(this)">
														</div>
													</div>

													<div class="col-xs-10 col-xs-offset-1 bx-ui-slider-track-container">
														<div class="bx-ui-slider-track"
															id="drag_track_c4ca4238a0b923820dcc509a6f75849b">
															<div class="bx-ui-slider-part p1">
																<span>0</span>
															</div>
															<div class="bx-ui-slider-part p2">
																<span>85 497.50</span>
															</div>
															<div class="bx-ui-slider-part p3">
																<span>170 995</span>
															</div>
															<div class="bx-ui-slider-part p4">
																<span>256 492.50</span>
															</div>
															<div class="bx-ui-slider-part p5">
																<span>341 990</span>
															</div>

															<div class="bx-ui-slider-pricebar-vd"
																style="left: 0;right: 0;"
																id="colorUnavailableActive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-pricebar-vn"
																style="left: 0%; right: 0%;"
																id="colorAvailableInactive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-pricebar-v"
																style="left: 0%; right: 0%;"
																id="colorAvailableActive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-range"
																id="drag_tracker_c4ca4238a0b923820dcc509a6f75849b"
																style="left: 0%; right: 0%;">
																<a class="bx-ui-slider-handle left" style="left:0;"
																	href="javascript:void(0)"
																	id="left_slider_c4ca4238a0b923820dcc509a6f75849b"></a>
																<a class="bx-ui-slider-handle right" style="right:0;"
																	href="javascript:void(0)"
																	id="right_slider_c4ca4238a0b923820dcc509a6f75849b"></a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)">
												<span>Цена, руб.
													<i data-role="prop_angle" class="fa fa-angle-down"></i>
												</span>
											</div>
											<div class="bx-filter-block" data-role="bx_filter_block" style="">
												<div class="row bx-filter-parameters-box-container">
													<div
														class="col-xs-6 bx-filter-parameters-box-container-block bx-left">
														<i class="bx-ft-sub">От</i>
														<div class="bx-filter-input-container">
															<input class="min-price" type="text"
																name="arrFilter2_P1_MIN" id="arrFilter2_P1_MIN" value=""
																size="5" onkeyup="smartFilter.keyup(this)">
														</div>
													</div>
													<div
														class="col-xs-6 bx-filter-parameters-box-container-block bx-right">
														<i class="bx-ft-sub">До</i>
														<div class="bx-filter-input-container">
															<input class="max-price" type="text"
																name="arrFilter2_P1_MAX" id="arrFilter2_P1_MAX" value=""
																size="5" onkeyup="smartFilter.keyup(this)">
														</div>
													</div>

													<div class="col-xs-10 col-xs-offset-1 bx-ui-slider-track-container">
														<div class="bx-ui-slider-track"
															id="drag_track_c4ca4238a0b923820dcc509a6f75849b">
															<div class="bx-ui-slider-part p1">
																<span>0</span>
															</div>
															<div class="bx-ui-slider-part p2">
																<span>85 497.50</span>
															</div>
															<div class="bx-ui-slider-part p3">
																<span>170 995</span>
															</div>
															<div class="bx-ui-slider-part p4">
																<span>256 492.50</span>
															</div>
															<div class="bx-ui-slider-part p5">
																<span>341 990</span>
															</div>

															<div class="bx-ui-slider-pricebar-vd"
																style="left: 0;right: 0;"
																id="colorUnavailableActive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-pricebar-vn"
																style="left: 0%; right: 0%;"
																id="colorAvailableInactive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-pricebar-v"
																style="left: 0%; right: 0%;"
																id="colorAvailableActive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-range"
																id="drag_tracker_c4ca4238a0b923820dcc509a6f75849b"
																style="left: 0%; right: 0%;">
																<a class="bx-ui-slider-handle left" style="left:0;"
																	href="javascript:void(0)"
																	id="left_slider_c4ca4238a0b923820dcc509a6f75849b"></a>
																<a class="bx-ui-slider-handle right" style="right:0;"
																	href="javascript:void(0)"
																	id="right_slider_c4ca4238a0b923820dcc509a6f75849b"></a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)">
												<span class="bx-filter-parameters-box-hint">Зона свежести
													<i data-role="prop_angle" class="fa fa-angle-down"></i>
												</span>
												<div class="filter-glossary js-filter-glossary">
													<div class="icon-gloss"></div>
													<div class="popup-gloss">

														<picture>

															<source type="image/webp" class=" lazyloading"
																data-srcset="/upload/iblock/fc2/fc25dfc6444fe8b35dfa43fe708973da.webp"
																srcset="/upload/iblock/fc2/fc25dfc6444fe8b35dfa43fe708973da.webp">

															<img class="filter-glossary__img lazyloaded"
																data-src="/upload/iblock/fc2/fc25dfc6444fe8b35dfa43fe708973da.jpg" alt="NoFrost"
																src="/upload/iblock/fc2/fc25dfc6444fe8b35dfa43fe708973da.jpg">
														</picture>

														<div class="filter-glossary__title">NoFrost</div>
														<div class="filter-glossary__text">NoFrost – благодаря этой современной системе продукты
															замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным
															вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея на
															стенках морозильного отделения, и тем самым забыть о процедуре размораживания.
														</div>
														<a href="/glossary/" title="Перейти в глоссарий" class="filter-glossary__link">Перейти в глоссарий
														</a>

													</div>
												</div>
											</div>

											<div class="bx-filter-block" data-role="bx_filter_block" style="">
												<div class="row bx-filter-parameters-box-container">
													<div class="col-xs-12">
														<div class="checkbox">
															<label data-role="label_arrFilter2_1619_2457050331"
																class="bx-filter-param-label "
																for="arrFilter2_1619_2457050331">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_1619_2457050331"
																		id="arrFilter2_1619_2457050331"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="BioFresh">BioFresh&nbsp;
																		<span
																			data-role="count_arrFilter2_1619_2457050331">84</span></span>
																</span>
															</label>

														</div>
														<div class="checkbox">
															<label data-role="label_arrFilter2_1619_1336780191"
																class="bx-filter-param-label "
																for="arrFilter2_1619_1336780191">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_1619_1336780191"
																		id="arrFilter2_1619_1336780191"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="BioFresh Plus">BioFresh
																		Plus&nbsp;
																		<span
																			data-role="count_arrFilter2_1619_1336780191">5</span></span>
																</span>
															</label>

														</div>
													</div>
												</div>
												<div style="clear: both"></div>
											</div>
										</div>
										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)">
												<span class="bx-filter-parameters-box-hint">Система охлаждения
													<i data-role="prop_angle" class="fa fa-angle-down"></i>
												</span>
											</div>

											<div class="bx-filter-block" data-role="bx_filter_block" style="">
												<div class="row bx-filter-parameters-box-container">
													<div class="col-xs-12">
														<div class="checkbox">
															<label data-role="label_arrFilter2_1642_1644890287"
																class="bx-filter-param-label "
																for="arrFilter2_1642_1644890287">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_1642_1644890287"
																		id="arrFilter2_1642_1644890287"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="NoFrost">NoFrost&nbsp;
																		<span
																			data-role="count_arrFilter2_1642_1644890287">190</span></span>
																</span>
															</label>

															<div class="filter-glossary js-filter-glossary">
																<div class="icon-gloss"></div>
																<div class="popup-gloss">

																	<picture>

																		<source type="image/webp" class=" lazyloading"
																			data-srcset="/upload/iblock/fc2/fc25dfc6444fe8b35dfa43fe708973da.webp"
																			srcset="/upload/iblock/fc2/fc25dfc6444fe8b35dfa43fe708973da.webp">

																		<img class="filter-glossary__img lazyloaded"
																			data-src="/upload/iblock/fc2/fc25dfc6444fe8b35dfa43fe708973da.jpg"
																			alt="NoFrost"
																			src="/upload/iblock/fc2/fc25dfc6444fe8b35dfa43fe708973da.jpg">
																	</picture>

																	<div class="filter-glossary__title">NoFrost</div>
																	<div class="filter-glossary__text">NoFrost –
																		благодаря этой
																		современной системе продукты замораживаются с
																		помощью
																		циркулирующего охлажденного воздуха, подающегося
																		специальным
																		вентилятором. Влажный воздух выводится наружу,
																		что позволяет
																		предотвратить образование инея на
																		стенках морозильного отделения, и тем самым
																		забыть о процедуре
																		размораживания.</div>
																	<a href="/glossary/" title="Перейти в глоссарий"
																		class="filter-glossary__link">Перейти в
																		глоссарий
																	</a>

																</div>
															</div>

														</div>
														<div class="checkbox">
															<label data-role="label_arrFilter2_1642_950703369"
																class="bx-filter-param-label "
																for="arrFilter2_1642_950703369">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_1642_950703369"
																		id="arrFilter2_1642_950703369"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="SmartFrost">SmartFrost&nbsp;
																		<span
																			data-role="count_arrFilter2_1642_950703369">38</span></span>
																</span>
															</label>

															<div class="filter-glossary js-filter-glossary">
																<div class="icon-gloss"></div>
																<div class="popup-gloss">

																	<picture>

																		<source type="image/webp" class=" lazyloading"
																			data-srcset="/upload/iblock/b44/b4434ab2aa3ba7c773dadcfc075d5511.webp"
																			srcset="/upload/iblock/b44/b4434ab2aa3ba7c773dadcfc075d5511.webp">

																		<img class="filter-glossary__img lazyloaded"
																			data-src="/upload/iblock/b44/b4434ab2aa3ba7c773dadcfc075d5511.jpg"
																			alt="SmartFrost"
																			src="/upload/iblock/b44/b4434ab2aa3ba7c773dadcfc075d5511.jpg">
																	</picture>

																	<div class="filter-glossary__title">SmartFrost</div>
																	<div class="filter-glossary__text">Технология
																		SmartFrost равномерно
																		распределяет хладагент по всему контуру камеры.
																		Оседающий на
																		испарителе иней оттаивает, а образующаяся вода
																		скапливается в
																		специальной емкости, из которой впоследствии
																		испаряется. Благодаря
																		этому отпадает
																		необходимость ручного размораживания
																		холодильного отделения.</div>
																	<a href="/glossary/" title="Перейти в глоссарий"
																		class="filter-glossary__link">Перейти в
																		глоссарий
																	</a>

																</div>
															</div>

														</div>
														<div class="checkbox">
															<label data-role="label_arrFilter2_1642_2711864499"
																class="bx-filter-param-label "
																for="arrFilter2_1642_2711864499">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_1642_2711864499"
																		id="arrFilter2_1642_2711864499"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="StopFrost">StopFrost&nbsp;
																		<span
																			data-role="count_arrFilter2_1642_2711864499">7</span></span>
																</span>
															</label>

														</div>
													</div>
												</div>
												<div style="clear: both"></div>
											</div>
										</div>

									</div>
									<!--//row-->
									<div class="row">
										<div class="col-xs-12 bx-filter-button-box">
											<div class="bx-filter-block">
												<div class="bx-filter-parameters-box-container">
													<input class="btn btn-themes" type="submit" id="set_filter"
														name="set_filter" value="Показать">
													<input class="btn btn-link" type="submit" id="del_filter"
														name="del_filter" value="Сбросить фильтр">
													<div class="bx-filter-popup-result right" id="modef"
														style="display:none">
														Выбрано:
														<span id="modef_num">0</span>
														<span class="arrow"></span>
														<br>
														<a href="/liebherr/holodilniki/?set_filter=y"
															target="">Показать</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="clb"></div>
								</form>
							</div>
						</div>
						<div class="sidebar">
							<div class="yandex">
								<div class="yandex__inner">
									<div class="yandex__logo">
										<img src="images/ylogo.png" alt="" srcset="" class="yandex__img">
									</div>
									<div class="yandex__ratings">
										<img src="images/5-stars.png" alt="" srcset="">
									</div>
									<a href="#" target="_blank" class="yandex__button">Оставить отзыв</a>
									<a href="#" target="_blank" class="yandex__button">Читать все отзывы</a>
								</div>
							</div>
							<div class="quality">
								<span class="quality__title">Контроль качества</span>
								<span class="quality__text">Номер для претензий и предложений:</span>
								<a href="tel:+74951201196" class="quality__number">+7 (495) 120-11-96</a>
								<span class="quality__worktime">с 9:00 до 18:00</span>
								<a href="#" class="quality__button" id="js-quality-opener">Написать</a>
							</div>
						</div>
					</div>
					{% include 'section/catalog/catalog.html' %}
				</div>
				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->
		</div>
		<!-- /.middle -->

	</div>
	<!-- /.wrapper -->

	{% include 'footer/global/footer.html' %}
	{% include 'connect/script.html' %}
	{% include 'connect/stylesheet.html' %}

</body>

</html>
