<article class="about-brand">
	<div class="container">
		<h2 class="about-brand__title">
			Почему покупают Вина Fetzer
		</h2>
		<img src="images/about-brand.png" alt="" class="pic_left loaded lazyloaded">
		<p align="justify">
			Корпус и внутренние стенки выполняются из нержавеющей стали. Ранее такое встречалось только в моделях
			профессиональной техники, а в бытовых приборах внутренняя камера изготавливается из белого пластика. Кроме
			антибактериальных свойств нержавейки производители с успехом использовали светоотражающую способность
			гладкого
			металла — светодиодные панели находятся по всей боковой поверхности холодильной и морозильной камер. Такой
			размер и
			положение светильников обеспечивают оптимальное распределение света. При этом они экономичны и почти не
			выделяют
			тепло по сравнению с лампами накаливания, а значит, не влияют на температурный режим внутри рабочей камеры.
		</p>
		<p align="justify">
			Светодиодные панели находятся по всей боковой поверхности холодильной и морозильной камер
		</p>
		<p align="justify">
			Особенность морозильной камеры В отличие от других морозильных отделений в Monolith все пространство занято
			не
			контейнерами, а похоже на холодильное: полки, ящики и дверные емкости. Это удобнее для быстрого доступа к
			часто
			используемым продуктам, не нужно перебирать все упаковки, чтобы найти нужную.
		</p>
	</div>
</article>

<article class="about-brand">
	<div class="container">
		<img src="images/about-brand-2.png" alt="" class="pic_right loaded lazyloaded">
		<p align="justify">
			Прозрачные передняя стенка позволяет быстро найти нужные продукты. На дверцах можно хранить упаковки ягод
			для
			коктейлей и смузи, мороженое, замороженные травы и овощи для заправки супов.

		</p>
		<p align="justify">
			Большие контейнеры BioFresh помещены на телескопические направляющие и оснащены отдельной светодиодной
			панелью в
			верхней части.

		</p>
		<p align="justify">
			В приборах использованы современные технологии охлаждения и хранения. Система NoFrost отводит излишнюю влагу
			из
			морозильного отделения, поэтому наледь не образуется, а значит, нет необходимости проводить разморозку.
		</p>
		<p align="justify">
			Равномерное охлаждение PowerCooling в холодильной камере поддерживает равномерную температуру. Фильтр с
			активированным
			углем FreshAir убирает неприятные запахи.
		</p>
	</div>
	<div class="js-about-brand__button about-brand__button">Читать подробнее</div>
	<!-- /.js-about-brand__button -->
</article>
