<div class="gallery">

	<div class="swiper-container-main js-swiper-main">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">

			<div class="swiper-slide">

				<picture>
					<source type="image/webp" class=" lazyloading" data-srcset="images/main-1.png"
						srcset="images/main-1.png">
					<img data-src="images/main-1.png" alt="" class=" lazyloaded" src="images/main-1.png">
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<h1 class="span span__small">
							Вина Fetzer на сайте официального специализированного магазина
						</h1>

					</div>
				</div>
			</div>
			<div class="swiper-slide">

				<picture>
					<source type="image/webp" class=" lazyloading" data-srcset="images/main-1.png"
						srcset="images/main-1.png">
					<img data-src="images/main-1.png" alt="" class=" lazyloaded" src="images/main-1.png">
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<h1 class="span span__small">
							Вина Fetzer на сайте официального специализированного магазина
						</h1>

					</div>
				</div>
			</div>
			<div class="swiper-slide">

				<picture>
					<source type="image/webp" class=" lazyloading" data-srcset="images/main-1.png"
						srcset="images/main-1.png">
					<img data-src="images/main-1.png" alt="" class=" lazyloaded" src="images/main-1.png">
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<h1 class="span span__small">
							Вина Fetzer на сайте официального специализированного магазина
						</h1>

					</div>
				</div>
			</div>
			<div class="swiper-slide">

				<picture>
					<source type="image/webp" class=" lazyloading" data-srcset="images/main-1.png"
						srcset="images/main-1.png">
					<img data-src="images/main-1.png" alt="" class=" lazyloaded" src="images/main-1.png">
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<h1 class="span span__small">
							Вина Fetzer на сайте официального специализированного магазина
						</h1>

					</div>
				</div>
			</div>

		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev swiper-button-main main_prev"></div>
		<div class="swiper-button-next swiper-button-main main_next"></div>

		<!-- If we need scrollbar -->
		<div class="swiper-scrollbar"></div>
	</div>
	<!-- <div class="gallery__items">

	<div class="gallery__tablet">

		<div class="gallery__el" id="bx_651765591_26125">
			<a class="gallery__link" href="/otzyvy/" title="Отзывы">

				<picture>

					<source type="image/webp" data-srcset="https://vestfrost.ret-team.ru/upload/iblock/d28/d289c91b88ea0d83ace4bf1ab8f0373c.webp"
						srcset="https://vestfrost.ret-team.ru/upload/iblock/d28/d289c91b88ea0d83ace4bf1ab8f0373c.webp">

					<img data-src="https://vestfrost.ret-team.ru/upload/iblock/d28/d289c91b88ea0d83ace4bf1ab8f0373c.jpg" alt="Отзывы"
						class=" ls-is-cached lazyloaded" src="https://vestfrost.ret-team.ru/upload/iblock/d28/d289c91b88ea0d83ace4bf1ab8f0373c.jpg">
				</picture>

				<div class="gallery__parent">
					<span class="gallery__article">Отзывы</span>
					<span class="gallery__text">Отзывы о технике Vestfrost</span>
				</div>
			</a>
		</div>

		<div class="gallery__el" id="bx_651765591_25559">
			<a class="gallery__link" href="/guarantee/" title="Официальная гарантия">

				<picture>

					<source type="image/webp" data-srcset="https://vestfrost.ret-team.ru/upload/iblock/ed5/ed5538b789b279e67fb24f3355e56214.webp"
						srcset="https://vestfrost.ret-team.ru/upload/iblock/ed5/ed5538b789b279e67fb24f3355e56214.webp">

					<img data-src="https://vestfrost.ret-team.ru/upload/iblock/ed5/ed5538b789b279e67fb24f3355e56214.jpg" alt="Официальная гарантия"
						class=" ls-is-cached lazyloaded" src="https://vestfrost.ret-team.ru/upload/iblock/ed5/ed5538b789b279e67fb24f3355e56214.jpg">
				</picture>

				<div class="gallery__parent">
					<span class="gallery__article">Официальная гарантия</span>
					<span class="gallery__text">Гарантийный сервис Vesfrost</span>
				</div>
			</a>
		</div>

		<div class="gallery__el" id="bx_651765591_25560">
			<a class="gallery__link" href="/services/" title="Сервис и обслуживание">

				<picture>

					<source type="image/webp" data-srcset="https://vestfrost.ret-team.ru/upload/iblock/4d2/4d23ec033def3d74c7838b39d2c1a1ec.webp"
						srcset="https://vestfrost.ret-team.ru/upload/iblock/4d2/4d23ec033def3d74c7838b39d2c1a1ec.webp">

					<img data-src="https://vestfrost.ret-team.ru/upload/iblock/4d2/4d23ec033def3d74c7838b39d2c1a1ec.jpg" alt="Сервис и обслуживание"
						class=" ls-is-cached lazyloaded" src="https://vestfrost.ret-team.ru/upload/iblock/4d2/4d23ec033def3d74c7838b39d2c1a1ec.jpg">
				</picture>

				<div class="gallery__parent">
					<span class="gallery__article">Сервис и обслуживание</span>
					<span class="gallery__text">Об установке и подключении</span>
				</div>
			</a>
		</div>

		<div class="gallery__el" id="bx_651765591_25561">
			<a class="gallery__link" href="/glossary/" title="Глоссарий">

				<picture>

					<source type="image/webp" data-srcset="https://vestfrost.ret-team.ru/upload/iblock/f39/f399a96316a3d41387df3dc1e61b0edc.webp"
						srcset="https://vestfrost.ret-team.ru/upload/iblock/f39/f399a96316a3d41387df3dc1e61b0edc.webp">

					<img data-src="https://vestfrost.ret-team.ru/upload/iblock/f39/f399a96316a3d41387df3dc1e61b0edc.jpg" alt="Глоссарий"
						class=" ls-is-cached lazyloaded" src="https://vestfrost.ret-team.ru/upload/iblock/f39/f399a96316a3d41387df3dc1e61b0edc.jpg">
				</picture>

				<div class="gallery__parent">
					<span class="gallery__article">Глоссарий</span>
					<span class="gallery__text">Технологии компании Vesfrost</span>
				</div>
			</a>
		</div>
	</div>

</div> -->
</div>
